@using Models;
@using WebApplication;
@model List<Product>
<div class="row">
    @foreach (Product item in Model)
    {
        <div class="card col-4">
            <img src="Images/@item.ProductAttachments.FirstOrDefault()?.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">@item.Price EGP</p>
                <p class="card-text">@item.Category.Name</p>
                <a asp-controller="product" asp-action="getone" asp-route-id="@item.ID" class="btn btn-primary">See Details</a>
                <a asp-controller="product" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
               
                <form method="post" action="@Url.Action("Delete", "Product", new { id = item.ID })">
                    <input type="submit" value="Delete" class="btn btn-light" />
                </form>
            </div>
        </div>
    }
</div>

